@import "tailwindcss";

html, body {
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #e5e7eb, #d1d5db);
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}
